*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    background-image:url('img/bc.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    background-position: fixed;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0 0 0 / 50%) ;
    position:sticky;
    top:0;
    z-index: 1000;
   
}

nav h1{
    color: #fff;
}
.logo{
    width: 100px;
    cursor: pointer;
    padding: 5px 5px;
}

nav ul{
    list-style: none;
    display: flex;
    text-align: right;
    padding-right: 10px;
    
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    text-transform: uppercase;
   
   
}
nav ul li a{ 
    color: #fff;
    text-decoration: none;
    flex-direction:column;

}

.box{

    margin: 40px 0 0;
    width: 100%;
    height: 70vh;
    display: flex;

}
.right, .left {
    margin: 10px;
    height: auto;

}
.right {
    width: 50%;
    height: 100%;
    background-color:rgba(222, 232, 240, 0.5) ;
}

.left {
    width: 50%;
    height: 100%;
    background-color:rgba(222, 232, 240, 0.5) ;
}


/* Pr*/
.right .project-container h1,
.left .task-container h1 {
    color: #194b88;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.project-container, .task-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto; 

}

.project-input, .todo-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#projectInput, #taskInput, #projectDate {
    width: calc(100% - 120px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#addProjectButton, #addTaskButton {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    flex-shrink: 0;
}

#addProjectButton:hover, #addTaskButton:hover {
    background-color: #0056b3;
}

ul#projectList, ul#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#projectList li, ul#taskList li {
    background-color:whitesmoke;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

button.delete {
    background-color: #dc3545;
    color: white;
}

button.delete:hover {
    background-color: #c82333;
}

button.select {
    background-color: #007bff;
    color: white;
}

button.select:hover {
    background-color: #0056b3;
}


button.edit {
    background-color: #28a745;
    color: white;
    margin-right: 5px;
}

button.edit:hover {
    background-color: #218838;
}



.box2{

    margin: 100px 0 0;
    width: 100%;
    height: 70vh;
    display: flex;
    background-color:rgba(222, 232, 240, 0.5) ;

}

.box2,.box3{
    justify-content:space-between;
}
.box3{
    margin: 100px 0 0;
    width:100%;
    
    
    

    
    
    .contact .ccon{
        margin-left: 5%;
        color:#194b88;
        
    }
    
      .contact .ccon h1{
        margin-bottom: 7rem;
        font-weight: 500;
        font-size: 2rem;
        margin-left: 5%;
        color:#194b88;
        text-align: center;
        font-family: sans-serif;
    }
    .contact .ccon h1 span{
        color: #194b88;
    }
    .contact .ccon img{
        width:  100px;
        height: 100px;
        object-fit: cover;
        gap:2rem;
        justify-content: space-around;
        align-items:center;
        
        
    }
    div a{
        text-decoration: none;
        color:#194b88;
    }
    .for{
        padding: 5rem 0 10rem 0 ;
        background-color:rgba(222, 232, 240, 0.5);
    } 
    .name{
        display: flex;
        gap: 2rem;
        justify-content:space-between;;
        width: 70%;
        margin-left: 15%
        
        
    }
    .textarea{
        display: flex;
        justify-content: center;
        width: 70%;
        margin-left: 15%;
    
       
    }
    .button{
        display: flex;
        justify-content: center;
    }
    .name input{
        width: 50%;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        border: 1px solid #333;
        border-radius: 5px;
        background-color: rgba(222, 232, 240, 0.5);
        color:black;
        font-size: 1.2rem;
    }
    .textarea textarea{
        width: 50%;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        margin-top:1,5rem;
        border: 1px solid #333;
        border-radius: 5px;
        background-color: rgba(222, 232, 240, 0.5);
        color:black;
        font-size: 1.2rem;
    }
    .button input{
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin-bottom: 1.5rem;
        border: 1px solid #333;
        border-radius: 20px;
        background-color:rgba(222, 232, 240, 0.5) ;
        color: #194b88;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .button input:hover{
        background-color:rgba(11, 25, 36, 0.5);
        color: #fff;
        border-color: #151516;
        
    }
    
        

    }
    .items {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content:space-between;/* Center items horizontally */
         /* Gap between items */
        flex-wrap: wrap; /* Wrap items if necessary */
    }
    
    .items div {
        text-align: center;
        max-width: 200px; /* Adjust as needed */
    }

    


    
    


.for{
    width: 50%;
    height: 100%;
    background-color:rgba(222, 232, 240, 0.5) ;

}

.contact {
    width: 50%;
    height: 100%;
    background-color:rgba(222, 232, 240, 0.5) ;
}
.for , .contact {
    margin: 10px;
    height: auto;
    flex:1;

}
.box3{
    display:flex;
}

.footer{
    
    left:0;
    bottom:0;
    width:100%;
    background-color:rgba(222, 232, 240, 0.5) ;
    color:white;
    text-align:center;
    padding:1em 0;

    
    

}
.footer div{
   text-align:center;
    width:100%;
}


